@use "./variables.scss" as *;

// put your custom CSS here!
.breadcrumb-container {
    // 开启换行
    flex-wrap: wrap;
    // 防止因强制换行导致出现横向滚动条
    overflow: hidden;

    &::before {
        content: "44664698.xyz";
        display: block;
        width: max-content;
        
        margin-right: 100%; 
        margin-bottom: 0.3rem; 
        
        padding: 0.2rem 0.2rem; 
        
        font-size: 1.1rem;
        font-weight: 700;
        color: #ffffff;
        background: var(--secondary); 
        border-radius: 4px;
        letter-spacing: 0.1em;
        /* 🌟 删掉了 text-transform: uppercase;，或者写成 text-transform: lowercase; */
      }
}