@use "./variables.scss" as *;

// put your custom CSS here!
.breadcrumb-container {
    // 开启换行
    flex-wrap: wrap;
    // 防止因强制换行导致出现横向滚动条
    overflow: hidden;

    &::before {
        content: "44664698.xyz";
        display: block;
        width: max-content;
        
        /* 核心换行 */
        margin-right: 100%; 
        margin-bottom: 0.3rem; 
        
        /* 🌟 修改这里：把 1rem 改成 0.6rem 或 0.8rem */
        padding: 0.4rem 0.8rem; 
        
        font-size: 1.1rem;
        font-weight: 700;
        color: #ffffff;
        background: var(--secondary); 
        border-radius: 4px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
}